<?xml version="1.0" encoding="UTF-8" ?>

<odoo>
    <menuitem id="menu_inno_packaging"
          name="Packaging"/>

    <menuitem id="sub_menu_inno_packaging"
              name="Packaging"
              parent="menu_inno_packaging"
              action="action_inno_pacakaging"
              sequence="1"/>
    <menuitem id="menu_inno_packaging_invoice"
              name="Packaging Invoice"
              parent="menu_inno_packaging"
              action="action_inno_packaging_invoice"
              sequence="10"/>
    <menuitem id="menu_inno__innovice_group"
              name="Invoice Group"
              parent="menu_inno_packaging"
              action="action_inno_invoive_group"
              sequence="20"/>
    <menuitem id="menu_inno__package_segmentation"
              name="Package Segmentation"
              parent="menu_inno_packaging"
              action="action_package_segmentation"
              sequence="30"/>
    <menuitem id="menu_inno_packaging_reports"
              name="Package Reports"
              parent="menu_inno_packaging"
              action="action_packaging_reports"
              sequence="40"/>
    <menuitem id="menu_inno_packaging_labels_reports"
              name="Package Label Reports"
              parent="menu_inno_packaging"
              action="action_packaging_multiple_labels"
              sequence="50"/>
</odoo>
